.collapsible {
  color: #444;
  background-color: #e9e9e9;
  /* background-color: #eee; */
  cursor: pointer;
  padding: 12px;
  margin-top: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #858585;
}