.two-column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.table {
    width: 100%;
}

.error-table {
    width: 100%;
    border: 1px solid;
}

.error-table>th, td {
    border: 1px solid;
}

.error-color {
    color: red;
    font-weight: bold;
}

.warning-color {
    color: orange;
    font-weight: bold;
}