table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px;
    border: 1px solid rgb(145, 145, 145);
}

.error-color {
    background-color: red;
    /* color: red; */
    /* font-weight: bold; */
}

.warning-color {
    background-color: orange;
    /* color: orange; */
    /* font-weight: bold; */
}