table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px;
    border: 1px solid rgb(145, 145, 145);
}

th {
    background-color: rgb(70, 70, 70);
    color: white;
    font-weight: 500;
}

.error-color {
    background-color: #E6191D;
    /* color: red; */
    /* font-weight: bold; */
}

.warning-color {
    background-color: orange;
    /* color: orange; */
    /* font-weight: bold; */
}

.red-flag {
    color: red;
    font-size: 12px;
    font-weight: 500;
    border: none;
}