<div class="container" style="width:94%">
    <div *ngIf="!errorData || errorData.length <= 0">No errors in the past 14 days</div>
    <table *ngIf="errorData && errorData.length > 0">
                <tr>
                    <th>Error</th>
                    <th>Error Type</th>
                    <th>Prod Count</th>
                    <th>Non Prod Count</th>
                    <th>Total Count</th>
                    <th>JIRA</th>
                    <th>JIRA Status</th>
                    <th>Net New</th>
                    <!-- <th>Attention</th> -->
                </tr>
                <!-- Highlights whole row -->
                <!-- <tr *ngFor="let error of errorData" [ngClass]="{'error-color': error.isNetNew && error.jiraStatus != 'Closed', 'warning-color': error.isNetNew  && error.jiraStatus == 'Closed'}"> -->
                <tr *ngFor="let error of errorData">
                    <td>{{error.errorName}}</td>
                    <td>{{error.errorType}}</td>
                    <td>{{error.prodCount}}</td>
                    <td>{{error.nonProdCount}}</td>
                    <td>{{error.totalCount}}</td>
                    <td *ngIf="error.jira">{{error.jira}}</td>
                    <td *ngIf="!error.jira" class="error-color">Missing</td>
                    <td>{{error.jiraStatus}}</td>
                    <td [ngClass]="{'error-color': error.isNetNew && error.jiraStatus != 'Closed', 'warning-color': error.isNetNew  && error.jiraStatus == 'Closed'}">{{error.isNetNew}}</td>
                    <td class="red-flag" *ngIf="error.isNetNew && error.jiraStatus != 'Closed'">* Requires MD Approval</td>
                </tr>
    </table>
</div>   