
<div class="container" style="background-color: blanchedalmond;border: 15px solid;padding: 17px">
    <div class="row">
        <div class="col-sm-4">
            <label>application site</label>
                <select [(ngModel)]="selectedAppOption" (change)="selectAppChange()">
                    <option *ngFor="let app of apps" [value]="app">{{app}}</option>
                </select> 
        </div>
        <div class="col-sm-8">
            <label>Non Prod Env</label>
                <select [(ngModel)]="selectedNonProdEnvOption" (change)="selectNonProdEnvChange()">
                    <option *ngFor="let env of nonProdEnvs" [value]="env">{{env}}</option>
                </select> 
        </div>
    </div>
    <div class="row">
    <div *ngFor="let errorSummary of resoureErrorSummary; let i = index">
        <div class="row" style="border: 1px solid; text-align: center;">
            <div class="col-sm-12">
                <b>{{resoureErrorSummary[i].resourceName}}</b>
            </div>
        </div>
        <div class="row" style="border: 1px solid; text-align: center;">
            <div class="col-sm-4">
                Prod Env Total
            </div>
            <div class="col-sm-4">
                Non Prod Env Total
            </div>
            <div class="col-sm-4">
                Net Error Total
            </div>
        </div>
        <div class="row" style="border: 1px solid; text-align: center;">
            <div class="col-sm-4">
                <h2>{{resoureErrorSummary[i].summaryViewStats[0].totalCount}}</h2>
            </div>
            <div class="col-sm-4">
                <h2>{{resoureErrorSummary[i].summaryViewStats[1].totalCount}}</h2>
            </div>
            <div class="col-sm-4">
                <h2>{{resoureErrorSummary[i].summaryViewStats[2].totalCount}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3 style="text-align: center;">Prod Error Count</h3>
                <div id="chart">
                    <apx-chart
                    [series]="this.resourceChartOptions[i][0].series"
                    [chart]="this.resourceChartOptions[i][0].chart"
                    [labels]="this.resourceChartOptions[i][0].labels"
                    [responsive]="this.resourceChartOptions[i][0].responsive"
                    ></apx-chart>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 style="text-align: center;"> QA Error Count</h3>
                <div id="chart">
                    <apx-chart
                    [series]="this.resourceChartOptions[i][1].series"
                    [chart]="this.resourceChartOptions[i][1].chart"
                    [labels]="this.resourceChartOptions[i][1].labels"
                    [responsive]="this.resourceChartOptions[i][1].responsive"
                    ></apx-chart>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 style="text-align: center;">Net Error Count</h3>
                <div id="chart">
                    <apx-chart
                    [series]="this.resourceChartOptions[i][2].series"
                    [chart]="this.resourceChartOptions[i][2].chart"
                    [labels]="this.resourceChartOptions[i][2].labels"
                    [responsive]="this.resourceChartOptions[i][2].responsive"
                    ></apx-chart>
                </div>
            </div>
    
        </div>
    </div>
    <div>
        <collapsible-section [headerName]="'View Details'">
            <section-content>
              <detailed-view [tcmId]="tcmId" [isRedis]="isRedis" [resourceName]="'tcmeventsvc'"></detailed-view>
            </section-content>
          </collapsible-section>
    </div>
</div>


